/* COMMON */

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/* end COMMON */

/* LAYOUT */

/* end LAYOUT */

/* BUTTONS */

/* end BUTTONS */

/* !!TOP!! */
/* SIDEBAR */

/* end SIDEBAR */

/* MAIN */

/* end MAIN */

/* !!end TOP!! */

/* !!BOTTOM!! */

/* FOOTER */

/* end FOOTER */

/* !!endBOTTOM!! */

/* RESPONSIVE */

/* MOBILE LARGE */

/* TABLET */

/* DEKSTOP */

