/* COMMON */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



:root {
    --spo-primary: #FDFDFD;
    --spo--lighter: #D2D2D2;
    --spo-lighter-shade: #7C7E83;
    --spo-light-shade: #6F6F6F;
    --spo-light-shade2: #5A5A5A;
    --spo-light-shade3: #282828;
    --spo-dark-shade: #141922;
    --spo-dark-shade2: #080B12;
    --spo-dark-shade3: #808080;
    --spo-dark: #000000;
    --spo-accent-color: #ADFF2F;
}


.d-flex {
    display: flex;
}

body
{
    min-width: 552px;
    font-family: "Montserrat", serif;;
}

.debug {
    .top {
        background-color: aqua;


        .main {
            background-color: rgba(194, 208, 0, 0.284);
        }
    }

    footer {
        background-color: rgb(60, 208, 77);
    }
}


/* end COMMON */

/* LAYOUT */

/* end LAYOUT */

/* BUTTONS */

/* end BUTTONS */

/* !!TOP!! */
.top {
    flex-direction: row;
}

/* SIDEBAR */

.sidebar {
    background-color: var(--spo-dark);
    max-width: 50px;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3rem 0.5rem;

    .top-sidebar
    {
        flex-direction: column;
        gap: 1rem;
    }

    .bottom-sidebar
    {
        flex-direction: column;
        align-items:center;
        gap: 1rem;
        margin-bottom: 1rem;

        .profile
        {
            text-align: center;
            background-color: var(--spo-dark-shade3);
            width: 30px;
            height: 30px;
            border-radius: 100%;
        }
    }
    
    .icon {
        color: red;
    }
    
}

/* end SIDEBAR */

/* MAIN */
main {
    .bottom-main {
        height: calc(100vh - 181px);
        overflow-y: auto;
    }

    .top-main {
        height: 90px;
    }
}

/* end MAIN */

/* !!end TOP!! */

/* !!BOTTOM!! */

/* FOOTER */
footer {
    height: 91px;
}

/* end FOOTER */

/* !!endBOTTOM!! */

/* RESPONSIVE */

/* MOBILE LARGE */
@media screen and (min-width: 639px)
{
    body
    {
        min-width: 639px;
    }

    .sidebar
    {
        max-width: 230px;
    }
}

/* TABLET */
@media screen and (min-width: 878px) {

    body
    {
        min-width: 878px;
    }
}

/* DEKSTOP */
@media screen and (min-width: 1440px) {

    body
    {
        min-width: 1440px;
    }
}