/* COMMON */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



:root {
    --spo-primary: #FDFDFD;
    --spo--lighter: #D2D2D2;
    --spo-lighter-shade: #7C7E83;
    --spo-light-shade: #6F6F6F;
    --spo-light-shade2: #5A5A5A;
    --spo-light-shade3: #282828;
    --spo-dark-shade: #141922;
    --spo-dark-shade2: #080B12;
    --spo-dark-shade3: #808080;
    --spo-dark: #000000;
    --spo-accent-color: #ADFF2F;
}


.d-flex {
    display: flex;
}

body {
    width: 552px;
    font-family: "Montserrat", serif;
    ;
}

.container {
    width: 98%;
    margin: 0 auto;
}

.section-title {
    color: var(--spo-primary);
}

.card-title {
    color: var(--spo-primary);
    padding-top: 1rem;
    text-align: center;

}

.card-subtitle {
    color: var(--spo-lighter-shade);
    font-size: 14px;
    font-weight: 600;
    padding-top: 0.5rem;
    text-align: center;
}

.card {

    width: 48%;


    img {
        width: 100%;
    }

}


/* end COMMON */

/* LAYOUT */

/* end LAYOUT */

/* BUTTONS */
.btn {
    text-decoration: none;
    border: solid white;
    border-radius: 2rem;
    padding: 0.75rem 3rem;
    color: white;
}

/* end BUTTONS */

/* !!TOP!! */
.top {
    flex-direction: row;
}

/* SIDEBAR */

.sidebar {
    background-color: var(--spo-dark);
    max-width: 50px;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3rem 0.5rem;

    .top-sidebar {
        flex-direction: column;
        gap: 1rem;
    }

    .bottom-sidebar {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;

        .profile {
            text-align: center;
            background-color: var(--spo-dark-shade3);
            width: 30px;
            height: 30px;
            border-radius: 100%;
        }
    }

    .icon {
        color: red;
    }

}

/* end SIDEBAR */

/* MAIN */
main {
    .bottom-main {
        height: calc(100vh - 181px);
        overflow-y: auto;
    }

    .top-main {
        height: 90px;
        text-align: end;
        background-color: var(--spo-dark-shade2);
        position: relative;


        .btn {
            position: absolute;
            font-size: 14px;
            margin: 0.5rem;
            top: 15%;
            right: 0.5rem;
        }
    }

    .bottom-main {

        padding: 1rem 2rem;
        background-color: var(--spo-dark-shade);

        nav {
            flex-wrap: wrap;
            gap: 1rem;
            row-gap: 2.5rem;
            justify-content: center;


            a {
                text-decoration: none;
                font-weight: bold;
                font-size: 14px;
                color: var(--spo-lighter-shade);
            }
        }

        .container {
            margin-top: 3rem;
        }

        .recently-played {
            flex-wrap: wrap;
            gap: 1rem;
        }

        .section-subtitle {
            text-align: start;
            color: var(--spo-lighter-shade);
            font-size: 14px;
            font-weight: 600;
            padding-top: 0.5rem;
        }

        .create-for {

            flex-wrap: wrap;
            gap: 1rem;
        }

        .popular {

            flex-wrap: wrap;
            gap: 1rem;

            .card {
                img {
                    border-radius: 100%;
                }

            }
        }



    }
}

/* end MAIN */

/* !!end TOP!! */

/* !!BOTTOM!! */

/* FOOTER */
footer {
    height: 91px;
    background-color: var(--spo-light-shade3);

    .footer-left {

        align-items: center;

        img {
            height: 2rem;
            margin: 1.5rem 0 2rem 1rem;
            margin-right: 0.5rem;
        }

        .text-player {

            flex-direction: column;
            justify-content: center;
            

            .title-player {
                color: var(--spo-primary);
                font-weight: 800;
                font-size: 12px;
            }

            .subtitle-player,
            .artist-player {
                color: var(--spo-lighter-shade);
                font-weight: 600;
                font-size: 10px;
            }
        }


    }
}

/* end FOOTER */

/* !!endBOTTOM!! */

/* RESPONSIVE */

/* MOBILE LARGE */
@media screen and (min-width: 639px) {
    body {
        min-width: 639px;
    }

    .sidebar {
        max-width: 230px;
    }
}

/* TABLET */
@media screen and (min-width: 878px) {

    body {
        min-width: 878px;
    }
}

/* DEKSTOP */
@media screen and (min-width: 1440px) {

    body {
        min-width: 1440px;
    }
}